$colorHeader: white;
$bgMenu: #202529;
$mainColor: #acd8ad;
$colorInner:  #3f4043;

body{
  max-width: 100%;
  font-family: 'Lato', sans-serif;
}

%backgroundPosition{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  width: 287px;
  margin: 0 auto;
  padding-left: 3px;
}

.header{
  font-family: 'Montserrat', sans-serif;
  background: #373c3f;
  color: $colorHeader;
  display: grid;
  grid-template-columns: 1fr auto;
  &__second{
    display: none;
  }
  &__text{
    font-weight: 500;
    font-size: 12px;
    padding-top: 12px;
    padding-left: 19px;
    padding-bottom: 13px;
  }
}


.header__menu{
 position: relative;
  .hamburger {
    position: relative;
    display: grid;
    background-color: #202529;
    width: 40px;
    height: 37px;
    justify-content: center;
    align-content: center;
    cursor: pointer;

    &__item {
      display: block;
      position: absolute;
      width: 15px;
      height: 2px;
      left: 14px;
      top: 17px;
      background: #ffffff;
      transition: all .2s;
      &::before{
        content: '';
        position: absolute;
        top: -4px;
        display: block;
        width: 15px;
        height: 2px;
        background-color: white;
        transition: transform 0.2s ease-in ,top 0.2s linear 0.2s;
      }
     &::after{
       content: '';
       position: absolute;
       top: 4px;
       display: block;
       width: 15px;
       height: 2px;
       background-color: white;
       transition: transform 0.2s ease-in ,top 0.2s linear 0.2s;
     }
    }
  }
  .hamburger__item.hamburger-active{
    background-color: transparent;
    &::before{
      transform: rotate(45deg);
      top: 0;
      transition: top 0.2s linear,transform 0.2s ease-in 0.2s;
    }
    &::after{
      transform: rotate(-45deg);
      top: 0;
      transition: top 0.2s linear,transform 0.2s ease-in 0.2s;
    }
  }

  &-list{
    display: none;
    position: absolute;
    top: 37px;
    right: 0;
    z-index: 1;

    .header__menu-item{
      background: #fafafa;
      min-width: 188px;
      padding: 14px 0 14px 12px;
      border-bottom: 1px solid #e9e9e9;
      &>*{
        text-decoration: none;
        color: #666666;

      }
    }
  }
}
.header__menu-list.list-active{
  display: block;
}


@mixin fontInfo {
  font-size: 16px;
  font-weight: 700;
}
.info{
  display: grid;
  margin-bottom: 4px;
  font-weight: 700;
  background-image: url("../img/info.png");
  @extend %backgroundPosition;
  color: white;
  &>*{
    padding-left: 21px;
  }
  &__text1{
    @include fontInfo;
    padding-top: 17px;
  }
  &__text2{
    @include fontInfo;
    padding-top: 4px;
    line-height: 20px;

  }
  &__link{
    display: block;
    text-decoration: none;
    color: #a6d6e0;
    padding:8px 0 94px;
    font-weight: 700;
    font-size: 14px;
  }
}

%navigationMargin{
  margin-bottom: 2px;
}

%navigationPart {
  display: grid;
  grid-template-columns: 1fr auto;
  color: white;
}
.navigation{
  display: grid;
  .navigation__1{
    @extend %navigationPart;
    @extend %navigationMargin;
  }

  .navigation__2{
    @extend %navigationPart;
    @extend %navigationMargin;
  }

  .navigation__3{
    @extend %navigationPart;
  }
}


@each $name in 'delivery' 'design' 'desserts'{
  .navigation__#{$name}{
    background-image: url('../img/#{$name}.png');
    display: grid;
    font-size: 20px;
    font-weight: 700;
    @extend %backgroundPosition;
  }
}

.navigation{
  margin-bottom: 24px;
  &__1{
    .navigation__text{
      padding-top: 25px;
      padding-left: 64px;
    }
  }
  &__2{
    .navigation__text{
      padding-top: 28px;
      padding-left: 75px;
    }
  }
  &__3{
    .navigation__text{
      padding-top: 27px;
      padding-left: 84px;
    }
  }
  &__array{
    height: 74px;
    width: 70px;
    background: $mainColor;
    position: relative;
    .fa-chevron-right{
      position: absolute;
      top: 26px;
      left: 27px;
    }
  }
}

.main{
  display: grid;
  max-width: 100%;
  color: $colorInner;
}

.menu{
  display: grid;
  grid-template-rows: auto auto;
  margin-bottom: 10px;
  &__title{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 3px;
    padding-left: 9px;
  };
  &__subtitle{
    color: #cbccce;
    font-size: 10px;
    padding-left: 10px;

  }
}

.menu__inner-brown{
  background: $colorInner;
  color: $mainColor;
}

.menu__inner-green{
  background: $mainColor;
  color: white;
  margin-top: 31px;
}

.inner__icon{
  &-snow{
    width: 25px;
    height: 25px;
  }
  &-vine{
    width: 14px;
    height: 24px;
    padding-right: 11px;
  }
  &-coffe{
    width: 29px;
    height: 21px;
    padding-left: 2px;
  }
  &-bear{
    width: 21px;
    height: 20px;
    margin-right: 4px;
  }
}

%cover{
  background-size: contain;
}

@each $icon in 'snow' 'vine' 'coffe' 'bear'{
  .inner__icon-#{$icon}{
    background-image: url('../img/#{$icon}.png');
    @extend %backgroundPosition;
    @extend %cover;
  }
}

.inner{
  &__title{
    line-height: 14px;
    &-green{
      font-size: 20px;
      text-transform: uppercase;
      padding: 12px 0 11px 2px;
    }
    &-brown{
      text-transform: uppercase;
      font-size: 20px;
      padding: 11px 0 12px 2px;

    }
  }
  &__block-1{
    line-height: 14px;
    padding-left: 1px;
  }
  &__1{
    margin-top: 12px;
    margin-bottom: 19px;
  }
  &__3{
    margin-top: 12px;
    margin-bottom: 18px;
    .inner__text{
      padding-top: 4.8px;
    }
  }
  &__block-3{
    padding-left: 2px;
  }
  &__block-4{
    .inner__text{
      padding-top: 4px;
    }
  }
}


.inner__text{
  font-size: 15px;
  align-self: center;
  text-transform: uppercase;
}


@each $i in '1' '2' '3' '4'{
  .inner__block-#{$i}{
    display: grid;
    grid-template-columns: 1fr auto;
  }
}


$innerBlockMargin: '1' 15px, '2' 14px, '3' 19px, '4' 19px;

@each $tuple in $innerBlockMargin {
  .inner__block-#{nth($tuple, 1)} {
    padding-bottom: nth($tuple, 2);
  }
}

.inner{
  &__container{
    margin-bottom: 10px;
    display: grid;
  }
  &__div{
    margin-bottom: 8.6px;
    display: grid;
  }

}

.menu-info{
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 14px;
  letter-spacing: -0.2px;
  &-eight{
    padding-bottom: 8px;
  }
  &-ten{
    padding-bottom: 10px;
  }
  &-seven{
    padding-bottom: 7px;

  }
  &-nine{
    padding-bottom: 9px;
  }

  &__cost{
    font-weight: 700;
  }
}


.menu-describe{
  font-size: 8.85px;
  text-align: justify;
  line-height: 9.9px
}

.line{
  line-height: 10.68px;
}

.line-ever{
  line-height: 10.3px;
}


.footer{
  display: grid;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
  margin-top: 48px;
  padding-left: 2px;
  background: $mainColor;
  text-align: center;
  color: white;
  font-size: 12px;
  &__logo{
    display: none;
  }
  &__text{
    padding: 12px 0;
    &-padding{
      padding-bottom: 6px;
    }
  }
}


@media (min-width: 321px) and (max-width: 640px) {
  .container{
    max-width: 600px;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }

  .header{
    &__text{
      font-size: 24px;
      padding-top: 27px;
      padding-left: 38px;
    }
  }

  .header__menu{
    .hamburger {
      width: 82px;
      height: 74px;
      &__item {
        width: 33px;
              height: 5px;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
        &::before{
          top:- 8px;
          width: 33px;
          height: 5px;
        }
        &::after{
          top: 8px;
          width: 33px;
          height: 5px;
        }
      }
    }


    &-list{
      top: 75px;
      .header__menu-item{
        width: 250px;
        padding: 21px 0 21px 27px;

      }
    }
  }
  .header__menu-list.list-active{
    display: block;
  }


  @mixin infoFont{
    font-size: 36px;

  }
  .info{
    background-image: url("../img/info.png");

    &>*{

      padding-left: 36px;
    }
    &__text1{
      @include infoFont;
      padding-top: 30px;
    }
    &__text2{
      @include infoFont;
      padding-top: 10px;
      line-height: 30px;
    }
    &__link{
      padding:22px 0 197px;
      font-weight: 700;
      font-size: 24px;
    }
  }

  @each $name in 'delivery' 'design' 'desserts'{
    .navigation__#{$name}{
      font-size: 36px;
    }
  }

  .navigation{
    margin-bottom: 45px;
    &__1, &__2, &__3{
      text-align: center;
      .navigation__text{
        padding: 54px 0;
      }
    }
    &__array{
      height: 150px;
      width: 142px;
      .fa-chevron-right{
        transform: translate(-50%,-50%);
        top:50%;
        left: 50%;
      }
    }
  }
  .menu{
    padding-left: 15px;
    margin-bottom: 20px;
    &__title{
      font-size: 40px;
      text-transform: uppercase;
      margin-bottom: 10px;
    };
    &__subtitle{
      color: #cbccce;
      font-size: 20px;
    }
  }

  %paddingMenu{
    padding: 23px 0;
    font-size: 40px;
  }

  .menu__inner-brown{
    @extend %paddingMenu;
    padding-bottom: 23px;
  }

  .menu__inner-green{
    @extend %paddingMenu;
  }

  .inner__title-green , .inner__title-brown{
    line-height: 35px;
  }

  .inner__icon{
    width: 50px;
    height: 50px;
  }

  .inner__block-1 > .inner__text{
    line-height: 25px;
  }

  .inner{
    &:first-child{
      margin-top: 38px;
      margin-bottom: 45px;
    }
  }
  .inner__title{
    font-size: 40px;
  }
  .inner__text{
    font-size: 30px;
  }


  @each $i in '1' '2' '3' '4'{
    .inner__block-#{$i}{
      display: grid;
      grid-template-columns: 1fr auto;

    }
  }

  .inner{
    &__container{
      margin-bottom: 22px;
    }
    &__div{
      margin-bottom: 22px;
    }
  }

  .menu-info{
    font-size: 27px;
    padding-bottom: 15px;
  }

  .menu-describe{
    font-size: 18px;
    line-height: 20px;
  }

  .footer{
    margin-top: 117px;
    &__text{
      font-size: 18px;
      padding: 28px 0 23px;
      &-padding{
        padding-bottom: 12px;
      }
    }
  }
}

@media (min-width: 641px) and (max-width: 980px) {
  %position{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .header {
    &__first{
      display: none;
    }
    &__second{
      display: block;
    }
    &__menu {
      padding:40px 0 40px 30px;
      &-item {
        display: inline-block;
        font-size: 15px;
        &:not(:last-child){
          padding-right: 32px;
        }
      }
      &-link{
        text-decoration: none;
        color: $colorHeader;
      }
    }


    @mixin backgroundImage{
      @extend %position;
      background-image: url('../img/logo.png');

    }

    &__logo{
      @include backgroundImage;
      width: 104px;
      height: 83px;
      align-self: center;
      margin-right: 20px;
    }
  }

  @mixin fonts{
    font-size: 54px;
  }
  .info{
    background-image: url("../img/info-980.png");

    &>*{
      padding-left: 30px;
    }
    &__text1{
      @include fonts;
      padding-top: 64px;
    }
    &__text2{
      @include fonts;
      padding-top: 25px;
    }
    &__link{
      padding:57px 0 260px;
      font-size: 34px;
    }
  }


  @each $name in 'delivery' 'design' 'desserts'{
    .navigation__#{$name}{
      background-image: url('../img/#{$name}-980.png');
      font-size: 38px;
    }
  }

  .navigation{
    margin-bottom: 72px;
    display: grid;
    background-size: cover;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 327px;
    .navigation__text{
      align-self: center;
      justify-self: center;
      padding: 0;
    }
    &__array{
      display: none;
    }
  }

  .menu{
    grid-template-columns: 1fr auto;
    margin-bottom: 20px;
    align-content: center;
    &>*{
      align-self: center;
    }
    &__title{
      font-size: 34px;
      margin-bottom: 10px;
      padding-left: 21px;

    };
    &__subtitle{
      font-size: 20px;
      padding-left: 21px;

    }
    &__logo{
      background-image: url("../img/menu__logo.png");
      @extend %position;
      width: 109px;
      height: 89px;
      margin-right: 20px;
    }
  }

  .inner__icon{
    width: 40px;
    height: 40px;
  }

  .inner__text{
    font-size: 20px;
  }

  @each $i in '1' '2' '3' '4'{
    .inner__block-#{$i}{
      padding-bottom: 19px;
    }
  }

  .inner{
    padding: 0 18px;
    &__container{
      margin-bottom: 28px;
    }
    &__div{
      margin-bottom: 28px;
    }
    &__title{
      padding: 0 18px;
    }
  }

  .menu-info{
    font-size: 24px;
    padding-bottom: 17px;
  }

  .menu-describe{
    font-size: 16px;
    line-height: 17px;
  }

  .menu__inner{
    padding: 27px 0 23px;
    font-size: 34px;
    &-green{
      margin-top: 0;
    }
  }
  .inner__title{
    font-size: 34px;
  }

  .main{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
  }

  .container{
    max-width: 465px;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }

  .footer{
    grid-template-columns:auto 1fr;
    margin-top: 84px;
    padding: 10px 30px;
    font-size: 18px;
    &__logo{
      display: grid;
      @extend %position;
      width: 104px;
      height: 83px;
      background-image: url('../img/logo.png');
    }
    &__text{
      padding: 0;
      justify-self: end;
      align-self: center;
      &>*{
        display: inline-block;
      }
    }
  }
}


@media (min-width: 981px) {
  %positions{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .header {
    &__first{
      display: none;
    }
    &__second{
      display: block;
    }
    &__menu {
      padding:40px 0 40px 37px;
      &-item {
        display: inline-block;
        font-size: 15px;
        &:not(:last-child){
          padding-right: 32px;
        }
      }
      &-link{
        text-decoration: none;
        color: $colorHeader;
      }
    }

    @mixin backgroundImages{
      @extend %positions;
      background-image: url('../img/logo.png');
    }

    &__logo{
      @include backgroundImages;
     align-self: center;
      width: 104px;
      height: 83px;
      margin-right: 20px;
    }
  }
  .container{
    max-width: 567px;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }

  @mixin fonts{
    font-size: 62px;
  }
  .info{
    background-image: url("../img/info-980.png");
    &>*{
      padding-left: 37px;
    }
    &__text1{
      @include fonts;
      padding-top: 58px;
    }
    &__text2{
      @include fonts;
    }
    &__link{
      font-size: 38px;
      padding: 53px 0 379px;
    }
  }


  @each $name in 'delivery' 'design' 'desserts'{
    .navigation__#{$name}{
      background-image: url('../img/#{$name}-980.png');
      font-size: 43px;
    }
  }

  .navigation{
    margin-bottom: 72px;
    display: grid;
    background-size: cover;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 327px;
    .navigation__text{
      align-self: center;
      justify-self: center;
      padding: 0;
    }
    &__array{
      display: none;
    }
  }

  .menu{
    width: 100%;
    grid-template-columns: 1fr auto;
    margin-bottom: 20px;

    &>*{
      align-self: end;
    }
    &__title{
      padding-left: 21px;
      font-size: 45px;
      margin-bottom: 10px;
    };
    &__subtitle{
      font-size: 20px;
      padding-left: 21px;
    }
    &__logo{
      background-image: url("../img/menu__logo.png");
      @extend %positions;
      padding: 55px 65px;
      margin-right: 20px;
    }
  }

  .inner__icon{
    width: 42px;
    height: 42px;
  }

  .inner__text{
    font-size: 30px;
  }

  .inner__title{
    font-size: 34px;
  }

  @each $i in '1' '2' '3' '4'{
    .inner__block-#{$i}{
      padding-bottom: 47px;
    }
  }



  .inner{
    padding: 0  0 0 22px;
    &__container{
      margin-bottom: 22px;
    }
    &__div{
      margin-bottom: 22px;
    }
    &__title{
      padding: 0 22px;
    }
  }

  .menu-info{
    font-size: 27px;
    padding-bottom: 16px;
  }

  .menu__inner{
    padding: 23px 0;
    font-size: 35px;
    &-green{
      margin-top: 0;
    }
  }

  .menu-describe{
    font-size: 18px;
    line-height: 18px;
  }

  .main{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
  }


  .footer{
    display: grid;
    grid-template-columns:auto 1fr;
    margin-top: 128px;
    padding: 15px 40px;
    &__logo{
      display: grid;
      @extend %positions;
      width: 104px;
      height: 83px;
      background-image: url('../img/logo.png');
    }
    &__text{
      font-size: 18px;
      padding: 0;
      justify-self: end;
      align-self: center;
      &>*{
        display: inline-block;
      }
    }
  }
}





